<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="box-info-search">
        显示或隐藏
    </div>

    <button type="button" class="btn  btn-primary btn-sm"><i
            class="fa fa-search" onclick="$('.box-info-search').css('display') == 'none' ? $('.box-info-search').show('fast') : $('.box-info-search').hide('fast')"></i>
        搜索</button>


    <script src="/static/assets/bower_components/jquery/dist/jquery.min.js"></script>
</body>
</html>